body {
  font-family: Arial, sans-serif;
  background: rgb(19,68,68);
  background: linear-gradient(0deg, rgba(19,68,68,1) 0%, rgba(0,54,62,1) 50%, rgba(32,32,32,1) 100%);   
  margin: 0;
  padding: 0;
  height: 100vh;
}

.chat-container {
  width: 100%;
  margin: 0 auto;
  height: max-content;
}

.chat-header {
  display: flex;
  justify-content: center;
  padding: 20px;
  height: 10vh;
}

.dropdown {
  width: 500px;
  height: 50px;
  border:none;
  padding: 10px 20px;
  border-radius:30px;
  border: #c0c0c0 1px solid;
  color: #ffffff;
  background-color: #727171;
  box-shadow: 4px 4px 25px -6px rgba(0,0,0,0.75);
}

.message-container{
  display: flex;
  justify-content: center;
  max-height: 70vh;
}
.chat-messages {
  padding: 20px;
  overflow-y: scroll;
  max-height: 60vh;
  min-height: 60vh;
  width: 800px;
}
.message{
  font-size: larger;
  color: #e4e4e4;
  padding: 10px 20px;
  margin: 5px 0;
  border-radius: 20px;
  border: #c0c0c0 1px solid;
  box-shadow: 4px 4px 25px -6px rgba(0,0,0,0.75);
}
.user{
  margin-left: auto;
  background-color: #65a3b3;
}
.chatbot{
  margin-right: auto;
  background-color: #888;
}

.input-container{
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;

}
.chat-input {
  width: 100%;
  max-width: 800px;
  margin: 30px 10px 0 10px;
  background-color: #727171;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: min-content;
  border-radius: 40px;
  border: #c0c0c0 1px solid;
  box-shadow: 8px 8px 20px -1px rgba(0,0,0,0.75);
}

 .chat-input input {
  flex-grow: 1;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #727171;
  color: #f2f2f2;
  font-size: larger;
}
.chat-input input:focus{
  outline: none;
}

.chat-input button {
  margin-left: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: #58949e;
  color: white;
  cursor: pointer;
  border: #78aeb8 1px solid;
}

@media screen and (max-width: 800px) {
  .chat-messages 
  {
    width: none;
  }
  .input-container {
    max-width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .dropdown {
    width: 100%;
  }

}


::-webkit-scrollbar {
  width: 10px; /* width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* color of the scrollbar thumb */
  border-radius: 5px; /* roundness of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* color of the scrollbar thumb on hover */
}

/* Firefox */
/* Please note that scrollbar customization in Firefox is currently limited */
/* The following styles only change the scrollbar color */
* {
  scrollbar-color: #888 #f2f2f2; /* color of the scrollbar thumb and track */
}

*::-webkit-scrollbar {
  width: 10px; /* width of the scrollbar */
}

*::-webkit-scrollbar-thumb {
  background-color: #888; /* color of the scrollbar thumb */
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* color of the scrollbar thumb on hover */
}
