body {
  /* font-family: Arial, sans-serif; */
  background: rgb(47, 90, 69);
  background: radial-gradient(
    circle,
    rgba(47, 90, 69, 1) 40%,
    rgba(25, 48, 36, 1) 100%
  );
  font-family: "Roboto Mono", monospace;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.chat-container {
  width: 100%;
  margin: 0 auto;
  height: max-content;
}

.chat-header {
  display: flex;
  justify-content: center;
  padding: 20px;
  height: 10vh;
}

.dropdown {
  position: relative;
  display: inline-block;
  height: min-content;
}

.dropdown-toggle {
  transition: background-color 0.3s;
  width: 500px;
  height: 50px;
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  /* border: #777676 2px solid; */
  color: #ffffff;
  background-color: #36454f;
  box-shadow: 4px 4px 25px -6px rgba(0, 0, 0, 0.75);
  font-size: large;
  font-family: "Roboto Mono", monospace;
}

.dropdown-menu {
  width: 500px;
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: 30px;
  /* border: #777676 1px solid; */
  color: #ffffff;
  background-color: #36454f;
  /* box-shadow: 4px 4px 25px -6px rgba(0,0,0,0.75); */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0s linear 0.3s;
}

.dropdown-menu li {
  padding: 15px;
  transition: background-color 0.3s;
  text-align: center;
  cursor: pointer;
  border-bottom: #777676 1px solid;
}
.dropdown-menu li:first-child {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.dropdown-menu li:last-child {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom: 0;
}

.dropdown-menu li:hover {
  background-color: #4a4a4b;
  box-shadow: 4px 4px 5px -6px rgba(0, 0, 0, 0.75);
}
.dropdown-menu li:click {
  background-color: #c9c2c2;
  box-shadow: 4px 4px 5px -6px rgba(0, 0, 0, 0.75);
}

.dropdown:hover .dropdown-toggle {
  background-color: #4a4a4b;
}

.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}
.chat-messages {
  padding: 20px;
  overflow-y: scroll;
  max-height: 60vh;
  min-height: 60vh;
  width: 800px;
}
.messages-container {
  display: flex;
  justify-content: center;
}
.message-container {
  display: flex;
  justify-content: center;
  border-bottom: none;
  /* border-left: 0;
  border-right: 0;
  border-top: 0;
  background-image: linear-gradient(90deg, transparent 0%, rgba(255,255,255,1) 50%, transparent 100%);
  background-position: bottom;
  background-size: 100% 2px;
  background-repeat: no-repeat; */
}
.message {
  font-size: larger;
  color: #e4e4e4;
  padding: 10px 20px;
  margin: 5px 0;
  /* border-radius: 20px;
  border: #777676 1px solid;
  box-shadow: 4px 4px 25px -6px rgba(0,0,0,0.75); */
}
.user {
  margin-left: auto;
  background-color: #36454f;
  border-radius: 20px;
  box-shadow: 4px 4px 25px -6px rgba(0, 0, 0, 0.75);
}
.chatbot {
  margin-right: auto;
  /* background-color: #36454F	; */
}

.input-container {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
}
.chat-input {
  width: 100%;
  max-width: 800px;
  margin: 30px 10px 0 10px;
  background-color: #36454f;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: min-content;
  border-radius: 40px;
  /* border: #c0c0c0 1px solid; */
  box-shadow: 8px 8px 20px -1px rgba(0, 0, 0, 0.75);
}

.chat-input input {
  flex-grow: 1;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #36454f;
  color: #f2f2f2;
  font-size: larger;
  font-family: "Roboto Mono", monospace;
}
.chat-input input:focus {
  outline: none;
}

.chat-input button {
  margin-left: 10px;
  /* padding: 10px 20px;
  color: white;
  border: #78aeb8 1px solid; */
  cursor: pointer;
  background-color: #36454f;
  border: none;
  border-radius: 30px;
}
.send-icon {
  height: 30px;
  width: 30px;
  position: relative;
  transition: transform 0.1s ease-out;
}
.send-icon:hover {
  transform: scale(1.2);
}
.clicked {
  left: 30px;
  transform: scale(0.2);
}

@media screen and (max-width: 800px) {
  .chat-messages {
    width: none;
  }
  .input-container {
    max-width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .dropdown {
    width: 100%;
  }
}

.dashed {
  --b: 3px; /* border thickness */
  --s: 50px; /* size of the dashes */
  --c1: #f5f7f8;
  --c2: #9e0229;
  position: relative;
}
.dashed::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: var(--b);
  background: repeating-conic-gradient(var(--c1) 0 25%, var(--c2) 0 50%) 0 0 /
    var(--s) var(--s) round;
  -webkit-mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
  border-radius: 30px;
}

::-webkit-scrollbar {
  width: 10px; /* width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* color of the scrollbar thumb */
  border-radius: 5px; /* roundness of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* color of the scrollbar thumb on hover */
}

/* Firefox */
/* Please note that scrollbar customization in Firefox is currently limited */
/* The following styles only change the scrollbar color */
* {
  scrollbar-color: #888 #f2f2f2; /* color of the scrollbar thumb and track */
}

*::-webkit-scrollbar {
  width: 10px; /* width of the scrollbar */
}

*::-webkit-scrollbar-thumb {
  background-color: #888; /* color of the scrollbar thumb */
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* color of the scrollbar thumb on hover */
}
